<h1>Please enter the dimensions and weight of the package you would like to send. </h1>


<form action="/results">
  <div class="form-group">
    <label for="length">Please enter the length of the package</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="width">Please enter the width of the package</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="heigth">Please enter the heigth of the package</label>
    <input id="heigth" name="heigth" class="form-control" type="text">
  </div>
 heigth
  <div class="form-group">
    <label for="weight">Please enter the weight of the package</label>
    <input id="weight" name="weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary"> Calculate!</button>
</form>
