<h1>Please enter the dimensions and weight of the package you would like to send. </h1>


<form action="/results">
  <div class="form-group">
    <label for="length">Please enter the length of the package</label>
    <input id="length" name="length" class="form-control" type="text">






  </div>








</form>
